* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.space {
    display: flex;
    justify-content: center;
}

.blue {
    background-color: #1f2937;
}

.gray {
    background-color: #E5E7EB;
}

.header,
.card,
.footer {
    width: 1080px;
    margin-left: 64px;
    margin-right: 64px;
    display: flex;
}

.header {
    justify-content: space-between;
    color: #f9fAf8;
    font-size: 24px;
    padding: 16px 0;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7e8;
    font-size: 18px;
}

.one {
    padding-top: 128px;
    padding-bottom: 128px;
    gap: 32px;
}

.description {
    flex: 1;
    color: #E5e7eb;
    font-size: 18px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.description p {
    margin-top: 16px;
    margin-bottom: 16px;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
}

.one img {
    width: 50%;
    height: auto;
    border-radius: 16px;
    flex: none;
}

.two {
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 128px;
    gap: 64px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 64px;

}

.info {
    display: flex;
    flex-direction: column;
    width: 152px;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.info img {
    width: 152px;
    height: auto;
    border: 4px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 8px;
}

.three {
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.three p {
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    margin: 0 64px;
}

.name {
    margin-left: auto;
    margin-right: 96px;
    font-size: 24px;
    font-weight: bold;
}

.four {
    margin: 64px;
    padding: 32px 64px;
    justify-content: space-between;
    background-color: #3882f6;
    align-items: center;
    border-radius: 8px;

}

.ftext {
    color: #f9faf8;
    font-size: 18px;
}

.ftext div {
    font-size: 24px;
    font-weight: bold;
}

.four button {
    border: 2px white solid;
}

.footer {
    justify-content: center;
    color: #f9fAf8;
    padding: 32px;
    font-size: 18px;
}